#should be dev for development environment and test for testing environment
NODE_ENV=dev
#port to expose
PORT=3000
#Database connection url for the app
DB_URL=postgres://postgres:postgres_zf56@postgres:5432/postgres
#postgresql configurations
POSTGRES_PASSWORD=postgres_zf56